.title-text {
  position: relative;
  top: 6px;  /* Adjust up/down */
}

.navigation-title,
.navigation-title * {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  color: inherit !important;
}

navigation-title::before,
.navigation-title::after,
.navigation-title:hover::before,
.navigation-title:hover::after {
  content: none !important;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

html {
  overflow-y: scroll;
}

a:before,
a:after {
  background: #DC4405 !important;
}

.bibliography {
  margin-left: 0;
  padding-left: 0;
  max-width: 800px; /* optional, for nice formatting */
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.bibliography p {
  margin: 0 0 1em 0;
  padding-left: 3.2em; /* space for the number */
  text-indent: -3.5em; /* hanging indent */
}

.bibliography .ref-number {
  color: #DC4405;
  font-weight: bold;
  display: inline-block;
  width: 3em; /* width of the number block */
  text-align: right;
  margin-right: 0.2em;
}

/* swiper styling */

/*
.swiper-container {
  top: 0;
  width: 100%;
  max-width: 100vw;
  height: 500px;
  border-radius: 0;
  overflow: hidden;
}
*/

.swiper-container {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 100vw;
  height: 500px; /* adjust for your layout */
  broder-radius: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .swiper-container {
    height: 300px;
    width: 100%/* reduce height on smaller screens */
  }
}

@media (max-width: 480px) {
  .swiper-container {
    height: 250px;
    width: 100%;
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
  background: black;
}

/* PAGINATION DOTS */
.swiper-pagination {
  position: absolute;
  top: 0.5rem;  /* move above image */
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
}

/* BUTTONS */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.container {
  width: 100%; /* or some fixed width */
  margin: 0 auto; /* center */
}

.about {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  position: relative;
  top: 0;
  margin-top: 0;
  padding-top: 0;
}

.home-swiper-wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; /* so padding works as expected */
  padding-top: 0; /* start at zero, JS sets actual padding */
}

.content {
  flex: 0;
  margin-top: 1rem; /* push content to the top */
  margin-bottom: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}


