.title-text {
  position: relative;
  top: 6px;  /* Adjust up/down */
}

.navigation-title,
.navigation-title:hover,
.navigation-title:focus,
.navigation-title:active {
  text-decoration: none !important;
  background: none !important;
  box-shadow: none !important;
  color: inherit !important;
}
